<div class="page-header">
  <h3>Vost #<%= @vost.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @vost.user.present? %>
          <a href="/users/<%= @vost.user_id %>">
            <%= @vost.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Post</dt>
      <dd>
        <% if @vost.post.present? %>
          <a href="/posts/<%= @vost.post_id %>">
            <%= @vost.post.body %>
          </a>
        <% end %>
      </dd>

      <dt>Response</dt>
      <dd><%= @vost.response %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vosts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @vost.user %>
        <a href="/vosts/<%= @vost.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_vost/<%= @vost.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Vost has many whies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Whies
      </li>

      <% @vost.whies.each do |why| %>
        <li class="list-group-item">
          <a href="/whies/<%= why.id %>">
            <%= why.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/whies/<%= why.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/whies/<%= why.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_why/<%= why.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_why" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for post_id -->
      <div class="form-group">
        <label for="post_id" class="control-label">
          Post
        </label>

        <%= select_tag(:post_id, options_from_collection_for_select(Post.all, :id, :body), :class => "form-control") %>
      </div>

      <!-- Label and input for vost_id -->
      <input type="hidden" name="vost_id" value="<%= @vost.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Why
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Vost has many whyvosts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Whyvosts
      </li>

      <% @vost.whyvosts.each do |whyvost| %>
        <li class="list-group-item">
          <a href="/whyvosts/<%= whyvost.id %>">
            <%= whyvost.response %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/whyvosts/<%= whyvost.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/whyvosts/<%= whyvost.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_whyvost/<%= whyvost.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_whyvost" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vost_id -->
      <input type="hidden" name="vost_id" value="<%= @vost.id %>">

      <!-- Label and input for post_id -->
      <div class="form-group">
        <label for="post_id" class="control-label">
          Post
        </label>

        <%= select_tag(:post_id, options_from_collection_for_select(Post.all, :id, :body), :class => "form-control") %>
      </div>

      <!-- Label and input for why_id -->
      <div class="form-group">
        <label for="why_id" class="control-label">
          Why
        </label>

        <%= select_tag(:why_id, options_from_collection_for_select(Why.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for response -->
      <div class="form-group">
        <label for="response" class="control-label">
          Response
        </label>

        <input type="text" id="response" name="response" placeholder="Response" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Whyvost
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
