<div class="page-header">
  <h3>Vost #<%= @vost.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Yes no</dt>
      <dd><%= @vost.yes_no %></dd>

      <dt>Question</dt>
      <dd><%= @vost.question_id %></dd>

      <dt>User</dt>
      <dd><%= @vost.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vosts" class="btn btn-primary">
        Back
      </a>
      <a href="/vosts/<%= @vost.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vost/<%= @vost.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
