<div class="page-header">
  <h3>Welcome <%= @user.username %></h3>
</div>

<!-- A User has many questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Asked Questions
      </li>
        <% @user.questions.each do |post| %>
        <li class="list-group-item" id="post_<% post.id %>">
        <a href="/posts/<%= post.id %>">  <%= post.body %></a>
        <a href="/posts/<%= post.id %>">
          <i class="fa fa-search-plus pull-right"></i>
        </a>
        <%if current_user == post.user %>
          <a href="/delete_post/<%= post.id %>" rel="nofollow">
            <i class="fa fa-trash-o pull-right"></i>
          </a>
          <dt>YES:  <%= post.nos_count %></dt>
          <dt>NO:   <%= post.picks_count%></dt>

            <% end %>
            <% end %>
          </div>
        </li>
    </ul>
  </div>


<!-- A User has many whies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        My Whies
      </li>

      <% @user.whies.each do |why| %>
        <li class="list-group-item">
          Question: <a href="/posts/<%= why.post.id %>"><%= why.post.body %></a>
        </li>
        <li class="list-group-item">
          My Answer:  <%= why.response %>
          <a href="/delete_why/<%= why.id %>" rel="nofollow">
            <i class="fa fa-trash-o pull-right"></i>
          </a>
        </li>
      <% end %>
    </ul>
  </div>



</div>
