<div class="page-header">
  <h3>Why #<%= @why.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Answer</dt>
      <dd>
        <% if @why.answer.present? %>
          <a href="/vosts/<%= @why.answer_id %>">
            <%= @why.answer.yes_no %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @why.body %></dd>

      <dt>Question</dt>
      <dd><%= @why.question_id %></dd>

      <dt>User</dt>
      <dd>
        <% if @why.user.present? %>
          <a href="/users/<%= @why.user_id %>">
            <%= @why.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/whies" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @why.user %>
        <a href="/whies/<%= @why.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_why/<%= @why.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Why has many post -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Post
      </li>

      <% @why.post.each do |post| %>
        <li class="list-group-item">
          <a href="/posts/<%= post.id %>">
            <%= post.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/posts/<%= post.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_post/<%= post.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
