<div class="page-header">
  <h3>Why #<%= @why.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @why.user.present? %>
          <a href="/users/<%= @why.user_id %>">
            <%= @why.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Post</dt>
      <dd>
        <% if @why.post.present? %>
          <a href="/posts/<%= @why.post_id %>">
            <%= @why.post.body %>
          </a>
        <% end %>
      </dd>

      <dt>Vost</dt>
      <dd>
        <% if @why.answer.present? %>
          <a href="/vosts/<%= @why.vost_id %>">
            <%= @why.answer.response %>
          </a>
        <% end %>
      </dd>

      <dt>Response</dt>
      <dd><%= @why.response %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/whies" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @why.user %>
        <a href="/whies/<%= @why.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_why/<%= @why.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Why has many whyvosts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Whyvosts
      </li>

      <% @why.whyvosts.each do |whyvost| %>
        <li class="list-group-item">
          <a href="/whyvosts/<%= whyvost.id %>">
            <%= whyvost.response %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/whyvosts/<%= whyvost.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/whyvosts/<%= whyvost.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_whyvost/<%= whyvost.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_whyvost" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vost_id -->
      <div class="form-group">
        <label for="vost_id" class="control-label">
          Vost
        </label>

        <%= select_tag(:vost_id, options_from_collection_for_select(Vost.all, :id, :response), :class => "form-control") %>
      </div>

      <!-- Label and input for post_id -->
      <div class="form-group">
        <label for="post_id" class="control-label">
          Post
        </label>

        <%= select_tag(:post_id, options_from_collection_for_select(Post.all, :id, :body), :class => "form-control") %>
      </div>

      <!-- Label and input for why_id -->
      <input type="hidden" name="why_id" value="<%= @why.id %>">

      <!-- Label and input for response -->
      <div class="form-group">
        <label for="response" class="control-label">
          Response
        </label>

        <input type="text" id="response" name="response" placeholder="Response" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Whyvost
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
