<div class="page-header">
  <center><h1>
    VOST WORLD
  </h1></center>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/posts/new" class="btn btn-primary btn-lg btn-block active btn-fixed-top">New Post</a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><center><%= image_tag 'vost.jpg', height: 50, width: 50 %></i></center></h2>
        </div>
            </div>

                    <% @posts.each do |post| %>
                    <div class="panel panel-default">
                      <div class="panel-body">
                      <div class="panel-row" id="post_<%= post.id %>">
                  <li class="list-group-item">
            <dt><a href="posts/<%= post.id %>">Post <%= post.id %>?</a></dt>
            <dd><%= post.body %></dd>

            <dd><form action="create_yes" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="post_id" value="<%= post.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <button class="btn btn-link">Yes<i class="fa fa-thumbs-o-up"></i>
              </button>
            </form></dd>
            <dt>YES VOST</dt>
            <dd><%= current_user.picks.where(:post_id => post.id).count %></dd>

            <dd><form action="create_no" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="post_id" value="<%= post.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

            <button class="btn btn-link">No
                <i class="fa fa-thumbs-o-down"></i>
            </button>
          </form></dd>
            <dt>NO VOST</dt>
            <dd><%= current_user.nos.where(:post_id => post.id).count %></dd>

                        <dd><form action="/create_why" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                        <!-- Label and input for user_id -->
                        <input type="hidden" name="post_id" value="<%= post.id  %>">
                        <input type="hidden" name="user_id" value="<%= current_user.id %>">

                        <input type="text" id="response" name="response" placeholder="Response" class="form-control" value="">
                        <button class="btn btn-success">
                          Create Why
                        </button>
                      </form></dd>
                    </div>
                  </div>
          <% end %>

        </li>
      </ul>
        </div>
     </div>
  </div>
</div>
</div>



    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
