<div class="page-header">
  <h3>Post #<%= @post.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @post.user.present? %>
          <a href="/users/<%= @post.user_id %>">
            <%= @post.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @post.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/posts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @post.user %>
        <a href="/posts/<%= @post.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_post/<%= @post.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Post has many vosts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Vosts
      </li>

      <% @post.vosts.each do |vost| %>
        <li class="list-group-item">
          <a href="/vosts/<%= vost.id %>">
            <%= vost.yes_no %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/vosts/<%= vost.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/vosts/<%= vost.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vost/<%= vost.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_vost" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for yes_no -->
      <div class="checkbox">
        <label for="yes_no">
          <input type="checkbox" id="yes_no" name="yes_no" value="1" <%= "checked" if @vost.yes_no %>>
          Yes no
        </label>
      </div>

      <!-- Label and input for question_id -->
      <div class="form-group">
        <label for="question_id" class="control-label">
          Question
        </label>

        <%= select_tag(:question_id, options_from_collection_for_select(Post.all, :id, :body), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Vost
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Post has many whies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Whies
      </li>

      <% @post.whies.each do |why| %>
        <li class="list-group-item">
          <a href="/whies/<%= why.id %>">
            <%= why.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/whies/<%= why.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/whies/<%= why.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_why/<%= why.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
