<div class="page-header">
  <h3>Post</h3>
  <h3><%= @post.body %></h3>
</div>

<div class="row">
  <div class="btn">
    <a href="/posts" class="btn">
      Back
    </a>
    <a href="/users/<%= @user.id %>" class="btn">Back Home</a>
    <% if current_user.id == @post.user_id %>
    <a href="/delete_post/<%= @post.id %>" class="btn">Delete</a>
    <% else %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Vosts
      </li>
      <div class="panel panel-default">
        <div class="panel-body">
      <li class="list-group-item">
    <dl>
      <dd>YES: <%= @post.picks_count %></dd>
      <dd>NO:  <%= @post.nos_count %></dd>
    </dl>
  </li>
</div>
</div>
    </div>
  </div>

<!-- A Post has many whies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Whies
      </li>

      <% @post.whies.each do |why| %>
      <div class="panel panel-default">
        <div class="panel-body">
        <li class="list-group-item">
            <%= why.response %>
            <% if why.user == current_user %>
            <a href="/delete_why/<%= why.id %>/" rel="nofollow">
              <i class="fa fa-trash-o pull-right"></i>
            </a>
            <% else %>
            <% end %>
              </li>
            </div>
          </div>
              <% end %>
          </div>
        </div>
