<div class="page-header">
  <h3>Post</h3>
  <h3><%= @post.body %></h3>
  <dd><form action="/create_why" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <!-- Label and input for user_id -->
  <input type="hidden" name="post_id" value="<%= @post.id  %>">
  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="text" id="response" name="response" placeholder="Response" class="form-control" value="">
  <button class="btn btn-success">
    Create Why
  </button>
</form></dd>
</div>

<div class="row">
  <div class="btn">
    <a href="/posts#post_<%= @post.id %>" class="btn">
      Back
    </a>
    <a href="/users/<%= @user.id %>" class="btn">Back Home</a>
    <% if current_user.id == @post.user_id %>
    <a href="/delete_post/<%= @post.id %>" class="btn">Delete</a>
    <% else %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Vosts
      </li>
      <div class="panel panel-default">
        <div class="panel-body">
      <li class="list-group-item">
    <dl>
      <dd>YES: <%= @post.picks_count %></dd>
      <dd>NO:  <%= @post.nos_count %></dd>
    </dl>
  </li>
</div>
</div>
    </div>
  </div>

<!-- A Post has many whies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Whies
      </li>

      <% @post.whies.each do |why| %>
      <div class="panel panel-default">
        <div class="panel-body">
        <li class="list-group-item">
            <%= why.response %>
            <% if why.user == current_user %>
            <a href="/delete_why/<%= why.id %>/" rel="nofollow">
              <i class="fa fa-trash-o pull-right"></i></a>
            <a href="/whies/<%= why.id %>/edit" rel="nofollow">
              <i class="fa fa-pencil pull-right"></i></a>
            <% else %>
            <% end %>
              </li>
            </div>
          </div>
              <% end %>
          </div>
        </div>
